@model WebApplication2.Models.Passwordchange

<!DOCTYPE html>

<html>

@{
    ViewBag.Title = "SampleDb";
    Layout = "~/Views/Shares/_LayoutPage3.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Black Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>

    <div class="content">
        @using (Html.BeginForm("changeuserpass", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Change User Password</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                @if (ViewBag.Message == "Success")
                                {
                                    <div class="alert alert-success">
                                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </button>
                                        <span>
                                            <b> Password Reset Sucessfull  </b>
                                        </span>
                                    </div>
                                }
                                @if (ViewBag.Message == "Error1")
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </button>
                                        <span>
                                            <b>You entered wrong username </b>
                                        </span>
                                    </div>
                                }
                                @if (ViewBag.Message == "Error2")
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </button>
                                        <span>
                                            <b>Password and Confirm Password are Mismatch </b>
                                        </span>
                                    </div>
                                }
                                <div class="row">

                                    <div class="col-md-7 px-md-10">
                                        <div class="form-group">
                                            <i class="tim-icons icon-single-02"></i>
                                            <label>User Name</label>
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                            @*<input type="text" class="form-control" placeholder="Username" value="michael23">*@
                                        </div>
                                    </div>
                                    <div class="col-md-7 px-md-10">
                                        <div class="form-group">
                                            <i class="tim-icons icon-lock-circle"></i>
                                            <label for="exampleInputEmail1">Password</label>
                                            @Html.TextBoxFor(m => m.ChangePassword, new { @class = "form-control" })
                                            @*<input type="email" class="form-control" placeholder="mike@email.com">*@
                                        </div>
                                    </div>

                                    <div class="col-md-7 px-md-10">
                                        <div class="form-group">
                                            <i class="tim-icons icon-lock-circle"></i>
                                            <label>Confirm Password</label>
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            @*<input type="text" class="form-control" placeholder="Company" value="Mike">*@
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            @*<button type="submit" class="btn btn-fill btn-primary">Update</button>*@
                            <input type="submit" value="Set Password" name="Command" class="btn btn-fill btn-primary" />

                        </div>
                    </div>
                </div>

            </div>
        }
    </div>


</body>

</html>
