
@{
    ViewBag.Title = "GetResentpasswordrests";
    Layout = "~/Views/Shares/_LayoutPage2.cshtml";
}

<h2>Successful Passwordresets</h2>

<div class="table-responsive">
    <table class="table table-striped">

        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>PasswordChangedate</th>
            <th>Ipaddress</th>
            
        </tr>

        @foreach (var item1 in ViewBag.userdetails1)
        {

            <tr>
                <td>
                    @item1.Id
                </td>
                <td>
                    @item1.UserName
                </td>
                <td>
                    @item1.ipaddress
                 
                </td>
                <td>
                    @item1.paswordchangedate
                </td>
                
            </tr>

        }

    </table>
</div>
