@model WebApplication2.Models.Admindetails
@{
    ViewBag.Title = "SampleadminView";
    Layout = "~/Views/Shares/_LayoutPage3.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Black Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>

    <div class="content">
        @using (Html.BeginForm("SelectAdmiqforuser", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {




            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Choose Admin Question</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                @if (ViewBag.Message == "Success")
                                {
                                 <div class="alert alert-success">
                                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="tim-icons icon-simple-remove"></i>
                                    </button>
                                    <span>
                                        <b>Successfully Updated</b>
                                    </span>
                                 </div>
                                }
                                <div class="row">


                                    <div class="col-md-7 px-md-10">
                                        <div class="form-group">
                                            <i class="tim-icons icon-button-power"></i>
                                            <label>Present selected Question</label>
                                            <h6>
                                                @Model.AdminSqaslbl
                                            </h6>
                                            @*@Html.TextBoxFor(m => m.AdminSqaslbl, new { @class = "form-control", @readonly = "readonly" })*@
                                            @*<input type="text" class="form-control" placeholder="Username" value="michael23">*@
                                        </div>
                                    </div>
                                    <div class="col-md-7 px-md-10">
                                        <div class="form-group">
                                            <i class="tim-icons icon-button-power"></i>
                                            <label>Choose Question to Update selected question</label>
                                            @Html.DropDownListFor(model => model.AdminSq, Model.Adminsqlist, new { @class = "form-control" })
                                            @*<input type="email" class="form-control" placeholder="mike@email.com">*@
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            @*<button type="submit" class="btn btn-fill btn-primary">Update</button>*@
                            <input type="submit" value="Update" name="Command" class="btn btn-fill btn-primary" />

                        </div>
                    </div>
                </div>

            </div>
        }
    </div>


</body>

</html>
