@model WebApplication2.Models.filename
<!DOCTYPE html>

<html>

@{
    ViewBag.Title = "SampleDb";
    Layout = "~/Views/Shares/_LayoutPage3.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Black Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>

    <div class="content">

        @*@using (Html.BeginForm("bulkUsers", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {*@

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Update Users from Server</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                @if (ViewBag.Message == "Success")
                                {
                                    <div class="alert alert-success">
                                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </button>
                                        <span>
                                            <b>Sucessfully Updated the Registerd Users </b>
                                        </span>
                                    </div>
                                }


                                @if (ViewBag.Message == "Error")
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </button>
                                        <span>
                                            <b> Server not operational</b>
                                        </span>
                                    </div>
                                }
                                <div class="row">

                                </div>

                            </form>
                        </div>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" id="txtName" value="">

                                </span>
                            </span>

                        </div>
                        <div class="card-footer">
                            @*<button type="submit" class="btn btn-fill btn-primary">Update</button>*@
                            <input type="submit" value="Update" name="Command" id="Updateid" class="btn btn-fill btn-primary" />

                        </div>
                    </div>
                </div>

            </div>
        @*}*@
    </div>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-2.2.4.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#Updateid").click(function () {
                var filename = new Object();
                filename.fname = $('#txtName').val();
                console.log(filename.fname);

                if (filename != null) {
                    $.ajax({
                       
                        type: "POST",
                       
                        url: "/Home/bulkUsers",
                        data: JSON.stringify(filename),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            $("#progressbar").progressbar("value", 100);
                            $("#result").text(msg.d);
                            clearInterval(intervalID);
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });

            //$("#Update").click(function () {

            //    $.ajax({
            //        type: "POST",
            //        url: "/Home/bulkUsers",
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response != null) {
            //                $('fname').val(response.fname);

            //            }
            //            else {
            //                alert("Something went wrong");
            //            }
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //});
        });
    </script>


</body>


</html>
